<form action="{{ url_for("inserir") }}" method="post">
<label for="id">ID:</label>
<input type="int" id="id" name="id" placeholder="Escreva o ID do carro">
<label for="modelo">Modelo: </label>
<input type="text" id="modelo" name="modelo" placeholder="Escreva o modelo do carro">
<label for="categoria">categoria:</label>
<input type="text" id="categoria" name="categoria" placeholder="Escreva a categoria do carro">
<label for="valor"> Valor: </label>
<input type="text" id="valor" name="valor" placeholder="Escreva o preço do carro">
<button type="submit">Salvar</button>